@{
    ViewData["Title"] = "SMARTPHONES";
}

<ul class="nav nav-tabs">

    <div class="navbar-header">
        <a class="navbar-brand" href="~/Painel/Index" style="padding:5px">
            <img width="90" height="40" alt="" src="/image/LogoLPgrande.jpeg" />
        </a>
    </div>

    <li class="nav-item">
        <a class="nav-link" asp-action="Index">Melhores Ofertas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-action="Privacy">Smartphones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Sobre">Sobre</a>
    </li>

    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="O que você esta buscando?" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</ul>



<div>

    <h1 class="texto-principal"> O melhor da LP para você </h1>
    <h4 class="texto-principal">Tudo que precisa, você so encontra aqui</h4>

</div>



<table class="table">
    <tr>
        <td>
            <div class="container">
                <div class="product">
                    <div class="image">
                        <img class="product-image" src="~/image/Flip6Azul.jpeg" alt="">
                    </div>
                    <div class="color">
                        <span class="orange active" data-image="..."></span>
                        <span class="green" data-image="..."></span>
                        <span class="black" data-image="..."></span>
                        <span class="red" data-image="..."></span>
                    </div>
                    <div class="title">
                        JBL Flip 6 Azul
                    </div>
                    <div class="detail">
                        <p>Preço : <span>$699</span></p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </td>

        <td>
            <div class="container">
                <div class="product">
                    <div class="image">
                        <img class="product-image" src="~/image/Flip6Branca.jpeg" alt="">
                    </div>
                    <div class="color">
                        <span class="orange active" data-image="..."></span>
                        <span class="green" data-image="..."></span>
                        <span class="black" data-image="..."></span>
                        <span class="red" data-image="..."></span>
                    </div>
                    <div class="title">
                        JBL Flip 6 Branca
                    </div>
                    <div class="detail">
                        <p>Preço : <span>$699</span></p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </td>

        <td>
            <div class="container">
                <div class="product">
                    <div class="image">
                        <img class="product-image" src="~/image/FoneJBLPreto.jpeg" alt="">
                    </div>
                    <div class="color">
                        <span class="orange active" data-image="..."></span>
                        <span class="green" data-image="..."></span>
                        <span class="black" data-image="..."></span>
                        <span class="red" data-image="..."></span>
                    </div>
                    <div class="title">
                        Fone JBL Preto
                    </div>
                    <div class="detail">
                        <p>Preço : <span>$399</span></p>
                        <a href="#">Comprar</a>
                    </div>
                </div>


        <td>
            <div class="container">
                <div class="product">
                    <div class="image">
                        <img class="product-image" src="~/image/FoneJBLPreto.jpeg" alt="">
                    </div>
                    <div class="color">
                        <span class="orange active" data-image="..."></span>
                        <span class="green" data-image="..."></span>
                        <span class="black" data-image="..."></span>
                        <span class="red" data-image="..."></span>
                    </div>
                    <div class="title">
                        Fone JBL Preto
                    </div>
                    <div class="detail">
                        <p>Preço : <span>$399</span></p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="container">
                <div class="product">
                    <div class="image">
                        <img class="product-image" src="~/image/FoneJBLrosa.jpeg" alt="">
                    </div>
                    <div class="color">
                        <span class="orange active" data-image="..."></span>
                        <span class="green" data-image="..."></span>
                        <span class="black" data-image="..."></span>
                        <span class="red" data-image="..."></span>
                    </div>
                    <div class="title">
                        Fone JBL Rosa claro
                    </div>
                    <div class="detail">
                        <p>Preço : <span>$399</span></p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </td>

        <td>
            <div class="container">
                <div class="product">
                    <div class="image">
                        <img class="product-image" src="~/image/JBLgoAzul.jpeg" alt="">
                    </div>
                    <div class="color">
                        <span class="orange active" data-image="..."></span>
                        <span class="green" data-image="..."></span>
                        <span class="black" data-image="..."></span>
                        <span class="red" data-image="..."></span>
                    </div>
                    <div class="title">
                        JBL Go Azul
                    </div>
                    <div class="detail">
                        <p>Preço : <span>$349</span></p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </td>

        <td>
            <div class="container">
                <div class="product">
                    <div class="image">
                        <img class="product-image" src="~/image/JBLgoPreta.jpeg" alt="">
                    </div>
                    <div class="color">
                        <span class="orange active" data-image="..."></span>
                        <span class="green" data-image="..."></span>
                        <span class="black" data-image="..."></span>
                        <span class="red" data-image="..."></span>
                    </div>
                    <div class="title">
                        JBL Go Preta
                    </div>
                    <div class="detail">
                        <p>Preço : <span>$349</span></p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </td>

        <td>
            <div class="container">
                <div class="product">
                    <div class="image">
                        <img class="product-image" src="~/image/JBLgoPreta.jpeg" alt="">
                    </div>
                    <div class="color">
                        <span class="orange active" data-image="..."></span>
                        <span class="green" data-image="..."></span>
                        <span class="black" data-image="..."></span>
                        <span class="red" data-image="..."></span>
                    </div>
                    <div class="title">
                        JBL Go Preta
                    </div>
                    <div class="detail">
                        <p>Preço : <span>$349</span></p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <div>

        <tr>
            <td>
                <div class="container">
                    <div class="product">
                        <div class="image">
                            <img class="product-image" src="~/image/Flip6Azul.jpeg" alt="">
                        </div>
                        <div class="color">
                            <span class="orange active" data-image="..."></span>
                            <span class="green" data-image="..."></span>
                            <span class="black" data-image="..."></span>
                            <span class="red" data-image="..."></span>
                        </div>
                        <div class="title">
                            JBL Flip 6 Azul
                        </div>
                        <div class="detail">
                            <p>Preço : <span>$699</span></p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="product">
                        <div class="image">
                            <img class="product-image" src="~/image/Flip6Branca.jpeg" alt="">
                        </div>
                        <div class="color">
                            <span class="orange active" data-image="..."></span>
                            <span class="green" data-image="..."></span>
                            <span class="black" data-image="..."></span>
                            <span class="red" data-image="..."></span>
                        </div>
                        <div class="title">
                            JBL Flip 6 Branca
                        </div>
                        <div class="detail">
                            <p>Preço : <span>$699</span></p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="product">
                        <div class="image">
                            <img class="product-image" src="~/image/FoneJBLPreto.jpeg" alt="">
                        </div>
                        <div class="color">
                            <span class="orange active" data-image="..."></span>
                            <span class="green" data-image="..."></span>
                            <span class="black" data-image="..."></span>
                            <span class="red" data-image="..."></span>
                        </div>
                        <div class="title">
                            Fone JBL Preto
                        </div>
                        <div class="detail">
                            <p>Preço : <span>$399</span></p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>


            <td>
                <div class="container">
                    <div class="product">
                        <div class="image">
                            <img class="product-image" src="~/image/FoneJBLPreto.jpeg" alt="">
                        </div>
                        <div class="color">
                            <span class="orange active" data-image="..."></span>
                            <span class="green" data-image="..."></span>
                            <span class="black" data-image="..."></span>
                            <span class="red" data-image="..."></span>
                        </div>
                        <div class="title">
                            Fone JBL Preto
                        </div>
                        <div class="detail">
                            <p>Preço : <span>$399</span></p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <div class="product">
                        <div class="image">
                            <img class="product-image" src="~/image/FoneJBLrosa.jpeg" alt="">
                        </div>
                        <div class="color">
                            <span class="orange active" data-image="..."></span>
                            <span class="green" data-image="..."></span>
                            <span class="black" data-image="..."></span>
                            <span class="red" data-image="..."></span>
                        </div>
                        <div class="title">
                            Fone JBL Rosa claro
                        </div>
                        <div class="detail">
                            <p>Preço : <span>$399</span></p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="product">
                        <div class="image">
                            <img class="product-image" src="~/image/JBLgoAzul.jpeg" alt="">
                        </div>
                        <div class="color">
                            <span class="orange active" data-image="..."></span>
                            <span class="green" data-image="..."></span>
                            <span class="black" data-image="..."></span>
                            <span class="red" data-image="..."></span>
                        </div>
                        <div class="title">
                            JBL Go Azul
                        </div>
                        <div class="detail">
                            <p>Preço : <span>$349</span></p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="product">
                        <div class="image">
                            <img class="product-image" src="~/image/JBLgoPreta.jpeg" alt="">
                        </div>
                        <div class="color">
                            <span class="orange active" data-image="..."></span>
                            <span class="green" data-image="..."></span>
                            <span class="black" data-image="..."></span>
                            <span class="red" data-image="..."></span>
                        </div>
                        <div class="title">
                            JBL Go Preta
                        </div>
                        <div class="detail">
                            <p>Preço : <span>$349</span></p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="product">
                        <div class="image">
                            <img class="product-image" src="~/image/JBLgoPreta.jpeg" alt="">
                        </div>
                        <div class="color">
                            <span class="orange active" data-image="..."></span>
                            <span class="green" data-image="..."></span>
                            <span class="black" data-image="..."></span>
                            <span class="red" data-image="..."></span>
                        </div>
                        <div class="title">
                            JBL Go Preta
                        </div>
                        <div class="detail">
                            <p>Preço : <span>$349</span></p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

    </table>

