
@{
    ViewData["Title"] = "Sobre LP";
}

<ul class="nav nav-tabs">

    <div class="navbar-header">
        <a class="navbar-brand" href="~/Painel/Index" style="padding:5px">
            <img width="90" height="40" alt="" src="/image/LogoLPgrande.jpeg" />
        </a>
    </div>

    <li class="nav-item">
        <a class="nav-link" asp-action="Index">Melhores Ofertas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Privacy">Smartphones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-action="Sobre">Sobre</a>
    </li>

    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="O que você esta buscando?" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</ul>
<br />
<br />

<div class="texto-principal">
    <h5>Conheça um pouco da nossa historia</h5>
    <br />
    <p>
        .
        .
        .
        .
        .
        .
        .
        .
        .
        .
        .
        .
        .
        .
        .
        .
        .
        .
    </p>

    <h5>Acompanhe a Melhor loja de Importados em todas as redes sociais.</h5>

   <div class="imagem">

        <a href="https://www.instagram.com/_lp.imports/">
            <img src="~/image/instaLogo.png">
        </a>

        <a href="https://api.whatsapp.com/send?phone=5547996754525&text=Oie,%20gostaria%20de%20saber%20sobre%20o%20produto">
            <img  src="~/image/ZapLogo.png">
        </a>

    </div>

   

</div>